* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/ai-img.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header h2 {
  /* align-items: center; */
  justify-content: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

.sec2-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  box-sizing: border-box;
}

.services {
  flex: 0.4;
  margin: 10px;
  height: 250px;
  background-color: #3498db;
  color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 60px;
}

.services img {
  width: 100%;
}

.item1,
.item2 {
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  margin: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.item1 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/enterprise-application-service.png");
  background-size: 100%;
}

.item2 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/ai-img(2).png");
  background-size: 100%;
}

.item1:hover {
  background-size: 110%;
}

.item2:hover {
  background-size: 110%;
}

.item1 h3,
.item2 h3 {
  padding: 20px;
  margin-top: 10px;
}

.service-header {
  display: flex;
  align-items: flex-end;
  justify-content: baseline;
  padding-top: 3%;
  padding-left: 5%;
  background-color: whitesmoke;
  height: 10vh;
}

.service-header-text {
  font-size: 40px;
  font-weight: bold;
  color: cadetblue;
}

.sec3-container {
  height: 100vh;
  width: 100%;

  overflow: hidden;

  background-color: lightgray;
  padding: 10px;
}

.sec3-header {
  display: flex;
  align-items: flex-end;
  justify-content: baseline;
  padding-top: 3%;
  padding-left: 5%;
  background-color: lightgray;
  height: 10vh;
}

.sec3-header-text {
  font-size: 40px;
  font-weight: bold;
  color: goldenrod;
}

.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.background-manage {
  background-color: whitesmoke;
  height: 70vh;
  width: 90%;
  border-radius: 15px;

  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.course {
  width: 33%;
  /* display: flex;
    align-items: center; */
  margin-top: 3%;
}

.course-header-text {
  text-decoration: underline;
  color: green;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
}

.vertical-line {
  height: 55vh;
  width: 1px;
  margin-top: 4%;
  background-color: #000;
}

.sec4-container{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
    /* justify-content: center; */
    overflow: hidden;
    /* align-items: center; */
    background-color: whitesmoke;
   
   
}

.sec4-header {
    display: flex;
    padding-left: 5%;
    padding-top: 3%;
}

.sec4-header-text {
    font-weight: bold;
    font-size: 50px;
    color: #000;

}

.sec4-content-manager{
    padding-top: 2%;
    display: grid;
    place-items: center;
}

.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 60s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

/* .slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
} */

/* .slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right:0;
    top: 0;
    transform: rotateZ(100deg);
} */



@media (max-width: 768px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .sec2-container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: whitesmoke;
  }
  .services {
    flex: 0.8;
    margin: 10px;
    height: 250px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 60px;
  }
  .item1,
  .item2 {
    min-width: 250px;
    margin-top: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
  }

  .sec3-header {
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
    margin: 2%;
    padding-left: 2%;
    background-color: lightgray;
    height: auto;
  }

  .sec3-header-text {
    font-size: 25px;
    font-weight: bold;
    color: goldenrod;
  }

  .background-manage {
    background-color: whitesmoke;
    height: auto;
    width: 85%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .course {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
  }

  .course-header-text {
    text-decoration: underline;
    color: green;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
  }

  .service-header-text {
    font-size: 28px;
    font-weight: bold;
    color: cadetblue;
  }

  .vertical-line {
    height: 1px;
    width: 90%;
    margin-top: 4%;
    background-color: #000;
  }
}
